audioread==3.0.1
configargparse==1.7.1
decord==0.6.0
einops==0.8.1
imageio==2.37.0
librosa==0.8.1
linear_attention_transformer==0.19.1
matplotlib==3.10.3
numpy==2.2.6
omegaconf==2.3.0
opencv-contrib-python==4.12.0.88
opencv-python==4.12.0.88
opt-einsum==3.3.0
pesq==0.0.4
pillow==11.3.0
pyannote.audio==1.1.2
pystoi==0.4.1
scenedetect==0.6.6
scikit-learn==1.7.0
scipy==1.16.0
seaborn==0.11.1
sentence-transformers==2.2.2
sentencepiece==0.1.96
tqdm==4.67.1
transformers==4.53.1
youtube-dl==2021.12.17
youtube-transcript-api==0.6.2
yt-dlp==2022.7.18